<%= form_for @playlist do |f| %>

<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div>
	<%= f.label :user_id, "User" %>
	<%= f.collection_select :user_id, User.all, :id, :name %>
</div>

<div>
	<%= f.label :song_ids, "Songs in Playlist" %>
	<%= f.collection_check_boxes :song_ids, Song.all, :id, :name %>
</div>

<%= f.submit %>
<% end %>
